<h1 class="h1">New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
<h2 class="text-primary m-4"><%= link_to "Go back to list of restaurants", root_path %></h2>
